

/* UTILITIES */
/* * {
  margin: 0;
  padding: 0;
} */

.blue-bg {
  background: #2C3E50;
}

.lblue-bg {
  background: #3A546D;
}

.star {
  min-height: 1px;
  position: relative;
  z-index: 3;
}

.star-black {
  min-height: 1px;
  position: relative;
  z-index: 3;
  background: #fff;
}

.margin-port {
  margin: 30px 0;
}

.p-r {
  padding-right: 20px;
}

/* NAVBAR HEADER */
#navbar1 {
  display: none;
}

#navbar2 {
  display: none;
}

@media screen and (max-width: 992px) {

  #navbar2 {
    display: block;
    border: 0px solid transparent;
    margin-bottom: 0;
    height: 100px;
  }
  #navbar2 h2 {
    color: #fff;
    font-size: 200%;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #navbar2 a {
    color: #fff;
    font-size: 120%;
    font-weight: 700;
    padding-top: 45px;
  }
  #navbar2 a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 993px) {
  #navbar1 {
    display: block;
    border: 0px solid transparent;
    margin-bottom: 0;
  }

  #navbar1 a {
    color: #fff;
    font-size: 120%;
    font-weight: 700;
    padding-top: 45px;
  }

  #navbar1 a:hover {
    text-decoration: underline;
  }

  #navbar1 h2 {
    color: #fff;
    font-size: 200%;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* MAIN */
/* TOP MAIN */

#top-main {
  background: #1ABC9C;
  height: auto;
  color: #fff;
  padding: 50px auto;
}

#top-main img {
  padding-top: 50px;
  width: 250px;
}

#top-main h1 {
  font-size: 400%;
  font-weight: 700;
}

#top-main i {
  display: inline-block;
  color: #fff;
  font-size: 300%;
  font-weight: 700;
  margin: 0 50px;
}

#top-main .star::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 5px;
  margin-right: 160px;
  border-bottom: 5px solid #e0e6ed;
  border-radius: 5px;
  top: 20px;
  right: 50px;
  width: 200px;
}

#top-main .star::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 5px;
  margin-left: 200px;
  border-bottom: 5px solid #e0e6ed;
  border-radius: 5px;
  top: 20px;
  left: 10px;
  width: 200px;
}

/* PORTFOLIO */

#portfolio {
  background: #fff;
  height: auto;
  color: #000;
  margin-top: 70px;
}

#portfolio h1 {
  font-size: 380%;
  font-weight: 700;
}

#portfolio i {
  display: inline-block;
  color: #000;
  font-size: 300%;
  font-weight: 700;
  margin: 0 50px;
}

#portfolio .star-black::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 5px;
  margin-right: 160px;
  border-bottom: 5px solid #000;
  border-radius: 5px;
  top: 20px;
  right: 50px;
  width: 200px;
}

#portfolio .star-black::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 5px;
  margin-left: 200px;
  border-bottom: 5px solid #000;
  border-radius: 5px;
  top: 20px;
  left: 10px;
  width: 200px;
}

#portfolio img {
  width: 100%;
  border-radius: 5%;
}

/* ABOUT */

#about {
  background: #1ABC9C;
  height: auto;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 30px;
}

#about img {
  padding-top: 50px;
  width: 250px;
}

#about h1 {
  font-size: 400%;
  font-weight: 700;
}

#about i {
  display: inline-block;
  color: #fff;
  font-size: 300%;
  font-weight: 700;
  margin: 0 50px;
}

#about .star::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 5px;
  margin-right: 160px;
  border-bottom: 5px solid #e0e6ed;
  border-radius: 5px;
  top: 20px;
  right: 50px;
  width: 200px;
}

#about .star::before {
  content: '';
  position: absolute;
  display: inline-block;
  height: 5px;
  margin-left: 200px;
  border-bottom: 5px solid #e0e6ed;
  border-radius: 5px;
  top: 20px;
  left: 10px;
  width: 200px;
}

#about p {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 130%;
}

#about a {
  position: relative;
  background: transparent;
  color: #fff;
  font-size: 150%;
  padding-left: 40px;
}

#about a::before {
  content: '\f019';
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: absolute;
  top: 5px;
  left: 10px;
  display: inline-block;
}

/* CONTACT */

#contact {
  background: #fff;
  height: 700px;
  color: #000;
  margin-top: 70px;
}

#contact h1 {
  font-size: 380%;
  font-weight: 700;
}

#contact i {
  display: inline-block;
  color: #000;
  font-size: 300%;
  font-weight: 700;
  margin: 0 50px;
}


@media screen and (min-width: 993px) and (max-width: 1190px) {
  #contact .star-black::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 5px;
    margin-left: 200px;
    border-bottom: 5px solid #000;
    border-radius: 5px;
    top: 20px;
    left: 10px;
    width: 200px;
  }
  #contact .star-black::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 5px;
    margin-right: 160px;
    border-bottom: 5px solid #000;
    border-radius: 5px;
    top: 20px;
    right: 50px;
    width: 200px;
  }
}

@media screen and (min-width: 1200px){
  #contact .star-black::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 5px;
    margin-left: 350px;
    border-bottom: 5px solid #000;
    border-radius: 5px;
    top: 20px;
    left: 10px;
    width: 200px;
  }
  #contact .star-black::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 5px;
    margin-right: 295px;
    border-bottom: 5px solid #000;
    border-radius: 5px;
    top: 20px;
    right: 50px;
    width: 200px;
  }
}

/* CONTACTS FORM */
#contact form {
  padding-top:50px;
  padding-bottom: 50px;
}

#contact input {
  border: 0px solid transparent;
  box-shadow: none;
  border-bottom: 1px solid #c9c9c9;
  padding: 30px 0;
}

#contact input::placeholder {
  color: #33475b;
  font-size: 140%;
}

#contact input:focus {
  border: 0px solid transparent;
  border-bottom: 1px solid #8ee281;
}

#contact textarea {
  border: 0px solid transparent;
  box-shadow: none;
  border-bottom: 1px solid #c9c9c9;
  padding: 30px 0;
  margin-bottom: 20px;
}

#contact textarea::placeholder {
  color: #33475b;
  font-size: 140%;
}

#contact textarea:focus {
  border: 0px solid transparent;
  border-bottom: 1px solid #8ee281;
}

/* FOOTER */
/* TOP FOOTER */

#top-footer {
  padding: 50px 0;
  color: #fff;

}

.span-green {
  display: inline;
  color: #1ABC9C;
}

.h4-lineh h4 {
  line-height: 150%;
  font-size: 150%;
}

.icons {
  font-size: 120%;
  display: inline-block;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50px;
  line-height: 50px;
}

/* BOTTOM FOOTER */

#bottom-footer {
  color: #fff;
  padding: 40px 0;
  height: 100px;
}
